# list of tools
fastapi/uvicorn--> to create web server
google-generativeai-->official library to use gemini API key
python-dotenv-->to keep Api key safe and hidden.

fastapi
uvicorn
google-genai
python-multipart
pydantic
pillow
